@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("/fonts/CartographCF-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
