@import "tailwindcss";

@theme {
    --font-monospace: "Cartograph CF", monospace;
    --animate-wiggle: wiggle 3s ease-in-out infinite;

    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg) scale(1.05);
        }

        50% {
            transform: rotate(3deg) scale(1);
        }
    }
}
